body {
  background-color: rgb(233, 159, 171);
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0;
}

#left-sidebar, #right-sidebar {
  position: fixed;
  top: 0;
  width: 250px;
  height: 100vh;
  overflow-y: auto;
  background-color: rgba(255, 255, 255, 0.9);
  border-right: 2px solid #ddd;
  z-index: 1;
}

#left-sidebar {
  left: 0;
}

#right-sidebar {
  right: 0;
  border-left: 2px solid #ddd;
}

#topics-list, #thumbnails {
  padding: 10px;
}

#topics-list li, #thumbnails div {
  margin-bottom: 10px;
}

#image-container {
  margin: 0 auto;
  max-width: calc(100% - 500px); /* Adjust based on sidebar width */
  overflow: hidden;
  text-align: center;
}

#page-content {
  max-width: 100%;
  height: 80vh;
}

#pagination {
  margin: 20px 0;
}

button {
  margin: 0 5px;
  padding: 10px 15px;
  font-size: 16px;
  border: 2px solid darkviolet;
  border-radius: 9px;
}

.btn1, .btn2 {
  z-index: 2;
  position: sticky;
  top: 38vh;
  background-color: transparent !important;
}

.btn1 {
  left: 9px;
}

.btn2 {
  right: 9px;
}

#nextButton {
  background-color: transparent;
  backdrop-filter: blur(10px);
  font-style: oblique;
  font-weight: bold;
}

#prevButton {
  background-color: transparent;
  backdrop-filter: blur(2px);
  font-style: oblique;
  font-weight: bold;
}

/* Responsive styles */
@media (max-width: 768px) {
  #left-sidebar, #right-sidebar {
    width: 100%;
    height: auto;
    position: static;
    border: none;
  }

  #image-container {
    max-width: 100%;
  }

  .btn1, .btn2 {
    position: static;
    display: block;
    margin: 10px;
  }
}
